# list of ignored files/folders
res/
res*/
resOld/
lib_old/
conducting_volume/
conducting_volume_eye/
stackedTapes/
cylinders_3D/
cylinder_infSup/
tests/
*~
*.o
*.obj
*.bak
*.vtk
*.out
*.pdf
*.exe
*.pos
*.pre
*.msh
*.opt
*.db
*.res
*.dat
*.asv
*.eps
*.zip
*h.gch
test.*
pumpkin.m
.DS_Store
!CMakeLists.txt
file_*
cylinders_projTest.pro
Homology
